{
  "presets": [
      ["minify", {
        "mangle": {
           "exclude": { 
             "data": true, 
             "secret": true,
             "token":true
          } 
        }
      }],
      ["es2015", {
          "loose": true
      }]
  ]
}